/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    width: 100%;
    max-width: 1440px;
    margin: auto;
 /*    display: flex;
    justify-content: center; */
}

/* .main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
} */

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

/* .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}
/****** Titres ***********/
h1 {
    margin: 0 30px;
    font-size: 22px;
 }

 h2 {
    margin: 0 30px;
    font-size: 18px;
} 

 h3 {
    font-size: 16px;
 }
/****** Header ***********/

header {
    display: flex;
    align-items: center;
    /* background-color: red; */
    height: 122px;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


 .logo {
    width: 62px;
    height: 19px;
    padding: 30px;
  }

  .menu {
    height: 68px;
  }
  .bouton-menu {
    font-size: 16px;
    border-top:solid 2px #f2f2f2;
      margin: 0 20px;
      padding: 16px 0;
   
}
    .bouton-menu:active{
    border-top:solid 2px #0065fc;
    color: #0065fc;
    }

/****** Main ***********/

main {
    display: flex;
    flex-direction: column;
    background-color: yellow;
}

/****** Footer ***********/

footer {
    display: flex;
    background-color: #F2F2F2;
 }

.item {
    width: 33vw;
    margin: 20px 0;
  }
.item h2 {
    font-size: 18px;
  }
  .item p {
    padding: 0 30px;
    font-size: 16px;
  }



/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/



.hebergements section {
    width: 65%;
    /* max-width: 936px; */
/*     background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box; */
}

 .hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.hebergements-cards {
    display: flex;
    flex-flow: row wrap;
    /* flex-grow: 1; */
    justify-content:space-evenly;

}

.hebergements-card {
    width: 14vw;
    /* height: 207px; */
    margin-top: 15px;
}


.hebergements-card img {
    width:inherit;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


.hebergements-card .card-content {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-card .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-card .card-subtitle {
    margin: 0;
}

.hebergements-card .card-rating {
    margin-bottom: 5px;
}


/****** Début Hebergement codes externe ***********/
.card-lists {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
  }
  
  .card-item {
    display: flex;
    width: 100%;
  }
  
  .card-item-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem;
    box-shadow: 0px 0px 1px #000000;
    border-radius: 8px;
  }
  
  .card-item-content img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .card-item-content :not(img) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .card-item-content :last-child {
    padding-bottom: 1rem;
    text-align: center;
  }
  .card-item-content p {
    flex: 1 0 auto;
  }
  
  @media all and (min-width: 40em) {
    .card-item {
      width: 50%;
    }
  }
  
  @media all and (min-width: 60em) {
    .card-item {
      width: 33.33%;
    }
  }
  
  @media all and (min-width: 76em) {
    .card-item {
      width: 25%;
    }
  }

/****** Fin Hebergement codes externe ***********/












/****** Populaires ***********/
.populaires section {
    width: 32%;
 /*    max-width: 1024px;
    background-color: var(--main-bg-color); */
}

/* .populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
    flex-grow: 1;
}



.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/****** Activités ***********/
/* .activites-a-marseille {
    display: flex;
    justify-content: space-between;
} */
.activites {
    width: 100%;
    max-width: 1440px;
    margin-top: 33px;
}
/* .activites-title {
    display: flex;
    margin: 30px 30px 20px 30px;
}  */

.activites-cards {
    display: flex;
    justify-content:space-evenly;
    margin-top: 20px;
}

.activites-card {
    width: 16vw;
}

.activites-card img {
    width:inherit;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activites-card .card-content {
    display: flex;
    overflow-wrap: anywhere;
}






/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}